.Content-container {
  background-color: #ff16165e;
  border-radius: 11px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  display: flow-root; /* makes it so the top and bottom are inside the parent container? */
  margin-bottom: 1em;
}

.Sub-container {
  border-style: solid;
  border-width: 3px;
  border-radius: 11px;
  border-color: #ffc4c4;
  padding: 15px;
  /* margin: 11px; */
}

.Sub-container .center {
  text-align: center;
}

.Sub-heading {
  text-align: left;
  margin: 0.5em;
  margin-bottom: 0em;
  font-size: 1.5em;
  font-weight: 600;
  /* background-image: linear-gradient(to left, #553c9a, #b393d3); */
  /* color: transparent; */
  background-clip: text;
  -webkit-background-clip: text;
}
