html {
  height: 100%;
  width: 100%;
}

ul {
  padding: 0px;
}

.App {
  background-color: #c0c0c0;
  background-image: linear-gradient(to left, #ff9000, #ff0000);
  min-height: 100vh;
  min-width: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.content {
  margin: 10px 12px 10px 12px;
  /* color: #b292d2; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  min-height: 60vh;
  margin: 0% 15%;
}

.p {
  /* background-image: linear-gradient(to left, #553c9a, #b393d3); */
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
